* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.board_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 48px;
  left: 48px;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text_container > p {
  font-size: 20px;
  font-weight: 600;
}

.baedal {
  position: absolute;
  top: calc(50vh - 48px);
  left: calc(50vw - 48px);
}
